# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
# 忽略虚拟环境
venv/
backend/myenv/

# 忽略 PyTorch 相关文件
backend/venv/Lib/site-packages/torch/
backend/venv/Lib/site-packages/torchlib/
backend/venv/Lib/site-packages/tensorflow/

target/

AI-service/backend/.env
AI-service/backend/.env.*
AI-service/backend/generated_audio/

user-service/src/main/resources/application-dev.yml

docs/
api-gateway/src/main/resources/application-dev.yml

backend/.venv/

meditation-service/meditation-service/src/main/resources/application-dev.yml

__pycache__/
__pycache__/
*.pyc
.venv/
.env
