# Copy this file to .env on the database server.

MYSQL_ROOT_PASSWORD=replace_with_mysql_root_password
MYSQL_PORT=3306

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=replace_with_mongo_root_password
MONGO_PORT=27017
